li {
  list-style-type: none; 
 }
 .eler::before {
  content: "▶ ";
}
.eled::before {
  content: "▼ ";
}

ul ul {
    display: block;
}

.popup{
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  background-color: #37beff;
  color: white;
  border-radius: 10px;
}
.close-popup{
  position: absolute;
  top: 15px;
  width: 23px;
  height: 23px;
  right: 15px;
  cursor: pointer;
}
.close-popup:before{
  content: '';
  background-color: white;
  position: absolute;
  width: 31px;
  height: 1px;
  top: 11px;
  transform: rotate(-45deg);
  left: -4px;
}
.close-popup:after{
  content: '';
  background-color: white;
  position: absolute;
  width: 31px;
  height: 1px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}